version: '3.4'

services:
  steambot:
    build:
      context: .
    restart: always
    environment:
      API_KEYS: /run/secrets
    secrets:
      - itad_key
      - discord_key

secrets:
  itad_key:
    file: ./secrets/itad_key
  discord_key:
    file: ./secrets/discord_key
