version: '3.4'

services:
  steambot:
    build:
      context: .
    environment:
      STEAM_API_KEY_FILE: /run/secrets/steam_key
      ITAD_API_KEY_FILE: /run/secrets/itad_key
      DISCORD_API_KEY_FILE: /run/secrets/discord_key
    secrets:
      - itad_key
      - discord_key
      - steam_key

secrets:
  itad_key:
    file: ./secrets/itad_key
  discord_key:
    file: ./secrets/discord_key
  steam_key:
    file: ./secrets/steam_key
